<!DOCTYPE html>
<html>
<head>
	<title>EDITS(page2)</title>
	<link rel="stylesheet" type="text/css" href="../stylesheet/style2.css">
	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Noto+Serif|Roboto+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?famly=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond|PT+Serif" rel="stylesheet">
</head>
<body>
	
		<!-- header box -->
			<div class="button">
				<a id="homebutton" href="../index.html">HOME</a>
				<a id="aboutbutton" href="page2.html">EDITS</a>
				<a id="projectbutton" href="page3.html">35MM</a>
			</div>

<section>
	 	<h1> 
	 		<a href="../index.html" id="logo">Anga</a>
	 	</h1>




	<!-- 	<div class="content"> -->
			<div class="motionti">
				<video loop muted id="cookingvid" src="../video/MVI_8738.MOV" autoplay="yes" width="100%" height="auto">Cooking</video>
				<div id="food">editing</div>
			</div>

			<div class="container1">
				<img id="food1pic" src="../media/cooking2.jpg" width="100%" height="auto">
			 	<div id="food1text">
			 		<b>Eric's Risotto</b>
			 		<p id="risottotext">
			 			Risotto is a northern Italian rice dish cooked in a broth to a creamy consistency. The broth can be derived from meat, fish, or vegetables. Many types of risotto contain butter, onion, white wine, and parmesan cheese. It is one of the most common ways of cooking rice in Italy.
			 		</p>
			 	</div>
			</div>
	</section>



<!-- 		<div class="wheaten">
			<img src="../media/withbfsdog.jpg" width="30%" height="auto" alt="A moment with a Wheaten Terrior at Eric's balcony.">
			<img src="../media/mewpup.png" width="30%" height="auto" alt="Before I head out for school">
			<img src="../media/ewpup.jpg" width="30%" height="auto" alt="Before I head out for school">
		</div> -->

<hr>
	<section class="section2">
<h4 id="fluffytag">Eric's dog, Fluffy.
	<p>He's a good boy. A Soft Coated Wheaten Terrior isn't just softer to the touch than many of the terriers; he's a little softer in personality, too. </p></h4>
<video class="fluff"  src="../video/IMG_8713.MP4" autoplay="yes" muted loop="yes" height="30%"></video>

<img class="fluff" src="../media/fluffyy.jpeg" height="30%" width="auto"> 
<img class="fluff"src="../media/48100002.JPG" height="30%" width="auto"> 

<hr id="hr2">

<h4 id="metoperatag">Met Opera on a rainy day <p>lincoln center has music on 24/7 (this is an exaggeration</p>
</h4>
<video class="met"src="../video/met.MOV" autoplay="yes" muted loop="yes" width="100%" height="auto"></video>
	</section>








</body>
</html>




























