<!DOCTYPE html>
<html>
<head>
	<title>online portfolio page 3</title>
	<link rel="stylesheet" type="text/css" href="../stylesheet/style3.css">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Noto+Serif|Roboto+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond|PT+Serif" rel="stylesheet">
</head>
<body>
<div id="body">
	<!-- first kind of menu bar --> 
	<div class="button">
		<a id="homebutton" href="../index.html">HOME</a>
		<a id="aboutbutton" href="page2.html">EDITS</a>
		<a id="projectbutton" href="page3.html">35MM</a>
	</div>

 <!-- main header -->

 	<h1> 
 		<a href="../index.html" id="logo">Anga</a>
 	</h1>




	<h2 class="page3h2">35mm
		<p id="intro">you'll find a series of film photos here. also, allow me to play a spookey song.</p>
	</h2>	



	<!-- Ghost Duet -->
	<iframe control loop width="100%" height="300" scrolling="no" frameborder="no" autoplay="yes"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/349905817&color=%23c4b9b0&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>


	<div class="text">
		<div class="postinfo">
			<span class="time">09/10/2018</span>
			<span class="postcategory">| nyc</span>
		</div>		
			<p id="p3p1">
				It's October! While summer lasted until a couple of weeks ago, I wonder how many people remember we were getting snow in this May. 
			</p>
			<img class="img40" id="maysnow" src="../media/maysnow.jpg" width="80%" height="auto" alt="captured moment of snowing in May, 2018">  
			<p>
				I've always thought winter is better than summer. As a person who was born in the highest heat, grew up in a semi-tropical place on Earth, I don't despise summer, no, but I enjoy winter nonetheless. In terms of summertime sadness (im joking), here are some photos.
			</p>
			
			<img src="../media/friend.jpg" width="30%" height="auto" alt="Sun shining through the windows of a gallery in Chelsea.">
			
			<img src="../media/chelseagallery.jpg" width="30%" height="auto" alt="Sun shining through the windows of a gallery in Chelsea.">



			<img src="../media/friend2.jpg" width="30%" height="auto" alt="Summer days, summer 72st.">
			<p>Nearby this area West Village, there is a tea house called <b>Té Company</b>, which sells solely Taiwanese tea. The owner travels back to Taiwan and personally sources the season's tea every three months or half a year. She is quite knowledgable in tea. Highly recommend this place for people who are interested in getting high quality Oolong, Iron Goddess, and Purple Leaf.</p>

			<p>more info about <a href="https://www.te-nyc.com/" target="_blank">Té Company</a></p>


	<hr>			
			

			<img class="img40" src="../media/friend3.jpeg" width="40%" height="auto" alt="photo-shooting day with Natsumi">
			
			<img class="img40" src="../media/nyc.jpeg" width="40%" height="auto" alt="purple-pink afternoon light in the city">
			
			<p>
				Natsumi and I went to a  gallery/cafe called <b>Cafe Usagi</b>, meaning Cafe Rabbit in Japanese. It's in Dumbo, Brooklyn.
				<br/>
				Another photo is taken around Chinatown / Little Italy. 
			</p>
			<p>more info about <a href="https://www.usaginy.com/cafe" target="_blank">Usagi NY</a></p>

			<!-- <img src="../media/myfav.jpg" width="80%" height="auto" alt="a good doggo on left corner, while his owner chilling on floorchair."> -->
			<p></p>
			<img src="../media/chaan.jpg" width="30%" height="auto" alt="Sweets in Cha An, a tea house.">

			<img class="img40" src="../media/withbfsdog.jpg" width="40%" height="auto" alt="A moment with a Wheaten Terrior at Eric's balcony.">

			
	</div>




 
<div id="body">
</body>
</html>























