<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../stylesheet/tryout.css">
</head>
<body>
<div class="wrap">
	<div class="dotstyle">
		<h2 id="doth2">Posts</h2>
		<ul>
			<li class=" current"><a href="#">Home</a></li>
			<li class=""><a href="#">About</a></li>
			<li class=""><a href="#">Products</a></li>
			<li class=""><a href="#">Portfolio</a></li>
			<li class=""><a href="#">Blog</a></li>
			<li class=""><a href="#">Contact</a></li>
		</ul>
	</div>
</div>

</body>
</html>